.LinkDiv{

    margin-top: 25px;
    /* align-self: flex-start; */
    @media (min-width: 768px){
    /* align-self: center; */

    }
  

    button{
       font-size : 15px;
       text-transform: uppercase;
       padding: 20px 53px;
       background-color: #68E381;
       background-color: #000000;
       color: #fff;
       border: none;
       outline: none;
       border-radius: 30px;

       &:hover{
            cursor: pointer;
       }
    }
}

.link-button{
    font-size : 15px;
    text-transform: uppercase;
    padding: 10px 53px;
    width: 100%;
    background-color: #68E381;
    background-color: #000000;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 30px;

    &:hover{
         cursor: pointer;
    }

    @media (min-width: 768px){
        width: max-content;
        padding: 10px 53px;


    }
}



.NavbarDiv{
    width: 100vw;
    padding: 0px 0px 0px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    /* overflow-x: hidden; */
    z-index: 6;
    background-color: #F3F3F3;



    .nav-buttons{
        display: flex;
        flex-direction: column;
        width: 100%;

        *{
            width: 100%;
        }

        span{
            white-space: nowrap;
            border: 1px solid #000;
            font-size: 13px;
            padding: 6px 36px;
            border-radius: 5px;
        }

        .sign-up{
            background-color: #000;
            border: none;
            color: #fff;
        }
    }


    @media (min-width: 768px){
        padding: 0px 0px 0px;

        .nav-buttons{
            width: unset;
            flex-direction: row;
            gap: 15px;
        }
    }

    .NavbarContainer{
        width: 100%;
        color: #000;
        max-width: 1600px;
        margin: 0 auto;
        padding: 17px 80px;
    
        display: none;
    
        align-items: center;
        justify-content: space-between;
        background-color: #F3F3F3;
        // background-color: #a62b2b;

    
        .menuitems{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 25px;
    
            span{
                &:hover{
                    cursor: pointer;
                }
            }
        }
    
        .logo{
            width: 30px;
            height: 30px;
        }
    
        @media (min-width: 768px){
            display: flex;
        }
    }

    .MobileContainer{
        width: 100%;
    
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #F3F3F3;

        padding: 16px 20px;
        height: 80px;
    
        .logo{
            width: 30px;
            height: 30px;
            z-index: 5;
    
        }
    
        .hambuga {
            padding: 10px;
            padding-right: 0;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: all .4s ease;
            z-index: 5;
    
            .ham {
                width: 25px;
                height: 2px;
                background-color: #100024;
                border-radius: 5px;
                margin: 2px 0;
                transition: all .5s ease;
                display: block;
                z-index: 3;
    
                @media screen and (min-width: 768px) {
                    display: none;
                }
    
            }
        }
    
        .mob-menu-div {
        display: block;
        width: 100%;
        background-color: #F3F3F3;

        position: fixed;
        transform: translateX(-2000px);
        // top: -100px;
        transition: all .5s ease;
        z-index: 4;
        right: 0;
        top: 80px;
    
        .mob-menu-div-cont {
            box-sizing: border-box;
    
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
            // gap: 22px;
    
            padding: 36px 21px;
    
            a {
                color: #000;
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                margin-bottom: 22px;
            }
    
        }
    
        @media screen and (min-width: 768px) {
            display: none;
            
        }
    }
    
        .spin {
            transform: rotate(90deg);
        }
        .spin .dis{
            // display: none;
            opacity: 0;
        }
    
        .spin .spins{
            transform: rotate(45deg) translateY(4px);
        }
        .spin .spins-i{
            transform: rotate(-45deg) translateY(-4px);
        }
    
        .menu-show {
            transform: translateX(0px);
            // background-color: red;
        }
    
    
        @media (min-width: 768px){
            display: none;
        }
    }
}


.weekly-poems{
    width: 100%;
    // padding: 0 20px;
    z-index: 2;
    background-color: #FFFFFF;
  

    
    // padding: 55px;

    .weekly-p-cont{
        padding: 100px 20px;
        background-color: #000;
        display: flex;
        flex-direction: column;
        color: #fff;
        width: 100%;
        box-shadow: 15px 15px 30px #0000003c;
        // margin-top: -250px;
        z-index: 1;
        position: relative;
        top: -15px;
        
        @media (min-width: 768px){
            padding: 55px;

            border-radius: 6px;
            z-index: 2;
            position: relative;
            top: -100px;
    
        }

    }

    .heading{
        width: 100%;
        border-bottom: 1px solid #fff;
        padding-bottom: 30px;

        h2{
            font-weight: 400;
            font-size: 30px;
            text-transform: uppercase;
        }
    }

    .poem-container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px;
        margin-top: 50px;
    }


    @media (min-width: 768px){
        padding: 0 80px;

        .poem-container{
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        .heading{
            h2{
                font-size: 44px;
            }
        }

    }
}

.poem-card{
    width: 100%;
    border: 0.5px solid #fff;
    border-radius: 15px;
    padding: 25px;

    p{
        margin-bottom: 30px;
    }

    button{
        color: #fff;
        background: none;
        outline: none;
        border: 0.5px solid #fff;
        padding: 4px 20px;
        border-radius: 5px;
    }
}

.tag{
    margin-bottom: 12px;
}



.haiku-top-div{
    width: 100%;
    background-color: #fff;
    padding-top: 80px;

    h2{
        font-weight: 400;
        font-size: 30px;
        text-transform: uppercase;

    }

    .header{
        margin-bottom: 30px;

    }


    .haiku-cont{
        width: 100%;
        display: flex;
        flex-direction: row;
        // border: 1px solid;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 25px;
        overflow-x: auto;
        // overflow-y: hidden;

        // .haiku-card{
                
                
        //     // border-radius: 2px;
        //     margin-right: 24px;
        //     // background-color: pink;
        //     // overflow: hidden;
        //     // background-color: #68E381;
        //     margin-bottom: 30px;

        //     .border{
        //         padding: 20px;
        //         // border-radius: 20px;

        //         // border: 1px solid #000; 
        //         // background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)) 1;
        //         // background-clip: padding-box;


        //         background: 
        //             linear-gradient(#ffffff 0 0) padding-box, /*this is your grey background*/
        //             linear-gradient(to bottom, #000000, #fb357000) border-box;
        //         color: #313149;
        //         padding: 10px;
        //         border: 1px solid transparent;
        //         border-radius: 15px;
        //     }
            
            
        //     .inner{

        //         height: 220px;
        //         width: 250px;
        //         display: flex;
        //         align-items: flex-start;
        //         justify-content: center;
        //         gap: 20px;
        //         padding: 0 auto;

        //         .big-img{
        //             height: 220px;
        //             width: 130px;
        //             overflow: hidden;
        //             img{
        //                 height: 100%;
        //                 border-radius: 10px;
        //             }
        //         }

        //         .sml-img{
        //             height: 220px;
        //             width: 100px;
        //             // background-color: red;
        //             display: flex;
        //             flex-direction: column;
        //             justify-content: space-between;
        //             .img{
        //                 overflow: hidden;
        //                 width: 100%;
        //                 aspect-ratio: 1/1;
        //                 border-radius: 10px;

        //                 img{
        //                     width: 100%;
        //                 }
                        
        //             }

        //             .img-left{
        //                 width: 100%;
        //                 aspect-ratio: 1/1;
        //                 background-color: #F1F1F1;
        //                 border-radius: 10px;
        //                 display: flex;
        //                 justify-content: center;
        //                 align-items: center;
        //                 color: #000;
        //                 font-size: 16;
        //                 font-style: italic;
        //             }
        //         }

        //     }

        //     .heading{

        //         margin-bottom: 30px;
        //         margin-top: 10px;

        //     }
        //     // padding: 100px;
        //     // border: 1px solid #000;
        //     // background-color: red;

            
        // }

        transition: all .5s ease;
    }

    .carousel-control{
        display: none;
    }

    @media (min-width: 768px){
        h2{
            font-size: 44px;
        }    

        .haiku-cont{
            // grid-template-columns: 1fr 1fr 1fr 1fr;
            display: flex;
            flex-direction: row;


            // .haiku-card{
                
                
            //     // border-radius: 2px;
            //     margin-right: 24px;
            //     // background-color: pink;
            //     // overflow: hidden;
            //     // background-color: #68E381;
            //     margin-bottom: 30px;

            //     .border{
            //         padding: 20px;
            //         // border-radius: 20px;

            //         // border: 1px solid #000; 
            //         // background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)) 1;
            //         // background-clip: padding-box;


            //         background: 
            //             linear-gradient(#ffffff 0 0) padding-box, /*this is your grey background*/
            //             linear-gradient(to bottom, #000000, #fb357000) border-box;
            //         color: #313149;
            //         padding: 10px;
            //         border: 1px solid transparent;
            //         border-radius: 15px;
            //     }
                
                
            //     .inner{

            //         height: 220px;
            //         width: 250px;
            //         display: flex;
            //         align-items: flex-start;
            //         justify-content: center;
            //         gap: 20px;
            //         padding: 0 auto;

            //         .big-img{
            //             height: 220px;
            //             width: 130px;
            //             overflow: hidden;
            //             img{
            //                 height: 100%;
            //                 border-radius: 10px;
            //             }
            //         }

            //         .sml-img{
            //             height: 220px;
            //             width: 100px;
            //             // background-color: red;
            //             display: flex;
            //             flex-direction: column;
            //             justify-content: space-between;
            //             .img{
            //                 overflow: hidden;
            //                 width: 100%;
            //                 aspect-ratio: 1/1;
            //                 border-radius: 10px;

            //                 img{
            //                     width: 100%;
            //                 }
                            
            //             }

            //             .img-left{
            //                 width: 100%;
            //                 aspect-ratio: 1/1;
            //                 background-color: #F1F1F1;
            //                 border-radius: 10px;
            //                 display: flex;
            //                 justify-content: center;
            //                 align-items: center;
            //                 color: #000;
            //                 font-size: 16;
            //                 font-style: italic;
            //             }
            //         }

            //     }

            //     .heading{

            //         margin-bottom: 30px;
            //         margin-top: 10px;

            //     }
            //     // padding: 100px;
            //     // border: 1px solid #000;
            //     // background-color: red;

                
            // }

        }

        .header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 50px;

        }

        .carousel-control{
            display: flex;
            gap: 15px;
            div{
                height: 40px;
                width: 40px;
                border-radius: 50px;
                border: 1px solid #000;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}

.haiku-card{
                
                
    // border-radius: 2px;
    margin-right: 24px;
    // background-color: pink;
    // overflow: hidden;
    // background-color: #68E381;
    margin-bottom: 30px;

    .border{
        padding: 20px;
        // border-radius: 20px;

        // border: 1px solid #000; 
        // background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)) 1;
        // background-clip: padding-box;


        background: 
            linear-gradient(#ffffff 0 0) padding-box, /*this is your grey background*/
            linear-gradient(to bottom, #000000, #00000000) border-box;
        // color: #313149;
        // padding: 10px;
        border: 1px solid transparent;
        border-radius: 15px;

        transition: all 0.5s ease;

        &:hover{
            transform: translateY(-10px);
            transition: all 0.5s ease;

        }
    }
    
    
    .inner{

        height: 220px;
        width: 250px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
        padding: 0 auto;

        .big-img{
            height: 220px;
            width: 130px;
            overflow: hidden;
            img{
                height: 100%;
                border-radius: 10px;
            }
        }

        .sml-img{
            height: 220px;
            width: 100px;
            // background-color: red;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .img{
                overflow: hidden;
                width: 100%;
                aspect-ratio: 1/1;
                border-radius: 10px;

                img{
                    width: 100%;
                }
                
            }

            .img-left{
                width: 100%;
                aspect-ratio: 1/1;
                background-color: #F1F1F1;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #000;
                font-size: 16;
                font-style: italic;
            }
        }

    }

    .heading{

        margin-bottom: 30px;
        margin-top: 10px;

    }

    .price{
        font-size: 14px;
        color: rgb(5, 66, 5);
        font-weight: 600;
        // margin: 13px 0;
        padding-top: 13px;
        padding-bottom: 13px;
    }

    button{
        width: 100%;
        border-radius: 6px;
        padding: 8px 0;
        font-size: 14px;
        background: none;
        border: 1px solid #000;
    }
    // padding: 100px;
    // border: 1px solid #000;
    // background-color: red;

    
}

.poems-listed{
    width: 100%;
    background-color: #6C1324;
    color: #fff;
    padding: 125px 0 125px;

    h2{
        font-weight: 400;
        font-size: 30px;
        text-transform: uppercase;
        padding-bottom: 50px;

    }
    

    .poem-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;

        @media (min-width: 768px){
            // grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }


}

.poem-forms{
    width: 100%;
    background-color: #fff;
    padding: 120px 0;


    h2{
        font-weight: 400;
        font-size: 30px;
        text-transform: uppercase;
        padding-bottom: 50px;

    }

    .cont{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;

        .poem-form-card{
            // padding: 100px 25px 15px;
            padding: 20px;
            height: 300px;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            border-radius: 20px;
            color: #fff;
            box-shadow: inset 1000px 1000px 1000px #00000056;
            width: 100%;

            .form-info{
                background-color: #fff;
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: flex-start;
                height: 40px;
                color: #000;
                box-sizing: content-box;
                padding: 10px 25px;
                border-radius: 60px;
                gap: 10px;

                h5{
                    font-size: 14px;
                    
                    @media (min-width: 768px){
                        font-size: 17px;

                    }
                }

                p{
                    font-size: 12px;
                    
                    @media (min-width: 768px){
                        font-size: 15px;

                    }
                }

                // &:hover{
                //     #arrow{
                //         opacity: 1;
                //     }
                // }
                

            }

            .arrow{
                background-color: #fff;
                height: 40px;
                width: 40px;
                box-sizing: content-box;
                padding: 10px 25px;
                border-radius: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all .5s ease;

                img{
                    width: 70%;
                }
            }
        }


        @media (min-width: 768px){
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}


.plans{

    padding: 120px 0;
    h2{
        font-weight: 400;
        font-size: 30px;
        text-transform: uppercase;
        padding-bottom: 50px;

    }

    .plans-cont {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 25px;
        
        .plans-card {
          padding: 70px 20px;
        //   border: 1px dotted #000;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          border-radius: 15px;

          .card-cta{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin-top: 70px;
            gap: 15px;

            a{
                padding: 18px 50px;
                text-decoration: none;
                background-color: #fff;
                color: #000;
            }
          }


          h2{
            color: #fff;
            font-size: 28px;
            padding-bottom: 30px;
            
            @media (min-width: 768px){
                font-size: 36px;

            }
          }

          p{
            color: #fff;
            font-size: 14px;
          }
        }
        
        .plans-card:nth-child(1) {
          background-color: #8d99ae;
        }
        
        .plans-card:nth-child(2) {
          background-color: #AF9070;
        }
        
        .plans-card:nth-child(3) {
          grid-column: 1 / span 2;
          padding: 70px 20px;
          background-color: #656d4a;
        //   border: 1px dotted #000;
          box-sizing: border-box;

          h2,p{
            color: #ffffff;
          }

          
        //   margin-top: 25px;
        }
        
        @media (min-width: 768px) {
            display: grid;
          grid-template-columns: repeat(2, 1fr);

          
          .plans-card {
            padding: 90px 50px;

          }
          
          .plans-card:nth-child(3) {
            padding: 111px 80px;

          }
        }
      }
}


.poem-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;

    @media (min-width: 768px){
        // grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.auth-container{
    flex-direction: column;
    width: 100%;
    margin-top: 104px;
    align-items: center;

    .header{
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        gap: 16px;

        p{
            color: rgba(0, 0, 0, 0.50);
            text-align: center;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            @media screen and (min-width: 768px){
                font-size: 16px;
            }
        }

        h1{
            font-size: 24px;
            @media screen and (min-width: 768px){
                font-size: 30px;
            }
        }
    }

    form{
        margin-top: 20px;
    }

    .other-option{
        margin-top: 16px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 4px;

        span{
            color: #667085;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 142.857% */
        }

        p{
            color: #000;
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px; /* 142.857% */
        }
    }

    @media screen and (min-width: 768px){
        width: 458px;
        margin: 150px auto 0;
    }
}

.haiku-cont{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 25px;
    overflow-x: auto;
    

    transition: all .5s ease;

    .tag{
        color: #fff;
    }

    @media (min-width: 768px){
        justify-content: flex-start;

    }
}

.form-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

    label{
        color: #000;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
        margin-bottom: 6px;
    }
    .input{
        width: 100%;
        position: relative;

        input{
            width: 100%;
            padding: 10px 14px;
            border-radius: 50px;
            border: 1px solid #D0D5DD;
            overflow: hidden;

            &:focus{
                border: 1px solid #D0D5DD;
                outline: none;
                background: none;
            }

            
        }

        .img{
            position: absolute;
            top: 0px;
            right: 0px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 12px;
            border-radius: 50%;
            /* background-color: red; */

   
        }
    }
}

.login, .sign-up{
    width: 100%;
    // background-color: ;
}


.payment-overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #00000037;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    .mobile-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        font-family: Poppins;
        width: 80%;
        padding: 6px;
        padding-bottom: 20px;
        border-radius: 18px;
        position: relative;

        .close{
            background-color: #fff;
            height: 20px;
            width: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: -30px;
            right: 0;
            border-radius: 50px;
            font-size: 18px;
            transform: rotate(45deg);
        }

        h3{
            font-weight: 300;
            font-size: 20px;
            margin-bottom: 6px;
            text-align: center;
            width: 90%;
        }

        .img{
            width: 100%;
            height: 200px;
            background: url('/purchase.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            margin-bottom: 28px;
            border-radius: 13px;
        }

        .price{
            font-size: 13px;
        }

        .disclaim{
            font-size: 10px;
        }

        button{
            margin-top: 25px;
            width: 100%;
            background-color: #117BDD;
            border: none;
            outline: none;
            height: 40px;
            margin-bottom: 7px;
            color: #fff;
            border-radius: 3px;
        }

        @media (min-width: 768px){
            width: 420px;

            button{
                width: 70%;

            }

            .img{
                height: 180px;
            }
        }
    }

    .error{
        h3{
            font-size: 18px;
            font-weight: 400;
            margin-top: 25px;
        }
    }

}